{% extends 'base_generic.html' %}

{% block title %} Diagram Editor {% endblock %}

{% if not full_page %}
    {% block header %} {% endblock %}
{% endif %}

{% block add_scripts %}   
    <script type="text/javascript">
        $.fn.editable.defaults.mode = 'inline';
        setup_ajax_csrf_token('{{ csrf_token }}'); 
        
        setup_edit_tag_setter_urls(
            [{ 
                'tag_id' : '#category-name-edit',
                'setter' : "{{ url('set_model_name', Model='Category') }}",
                'enable_ids' : [],
            },
            {
                'tag_id' : '#diagram-name-edit',
                'setter' : "{{ url('set_model_name', Model='Diagram') }}",
                'enable_ids' : [],
            }]); 
        
        $("#MyButton").ready(function() {
            $("#MyButton").on('click', function() {
                console.log('LOG LOG LOG');
            });
        });
        
        
    </script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h4>
                    
                        <strong class="text-muted">
                            Diagram Name: 
                        </strong>
                                                
                        <a id="diagram-name-edit" data-type="text" 
                            data-pk="{{ diagram_id }}" href="#" 
                            data-title="Key Diagram" style="border:none">
                            {{ diagram_name }}
                        </a>
                    </h4>
                    <h4>
                        <strong class="text-muted">
                            Category:
                        </strong>
                        <a id="category-name-edit" data-type="text" 
                            data-pk="{{ category_id }}" href="#" 
                            data-title="Category Name" style="border:none">
                            {{ category_name }}
                        </a> 
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="jumbotron card card-block" style="padding:0">
                        <iframe sandbox="allow-same-origin allow-scripts allow-popups allow-forms"
                            id="diagram-editor" src="{{ static ('quiver/src/index.html') }}"
                            style="border: 0; width:100%; height:600px;"></iframe>
                    </div>
                </div>
                <div class="col-md-2">
                    <a href="#" id="MyButton" class="btn btn-success" type="button">
                        Trigger Event
                    </a>
                </div>                
            </div>
        </div>
    </div>

{% endblock %}


