<div class="container-fluid">
        <div class="row center-row-content">
            <div class="col-md-10">
                <div class="page-header">
                    <h1>Create a New Rule</h1>
                </div>            
                <h3>
                    <strong class="text-muted">
                        Rule Name:
                    </strong>
                </h3>
                <h3>
                    <a id="new-rule-name-edit" data-type="text" 
                        data-pk="{{ rule_id }}" href="#"  
                        data-title="New Rule Name" style="border:none">
                    </a>     
                </h3>
                <a id="create-rule-button" class="btn btn-success invisible" 
                    href="{{ url('rule_editor', rule_id) }}">
                    Create
                </a>
            </div>
        </div>
    </div>
</div>
    