<!DOCTYPE html>

{% extends "base_generic.html" %}

{{ csrf_token }}  <!-- BUGFIX. it doesn't work without this -->

{% block add_scripts %}
    <script type="text/javascript">
        $.fn.editable.defaults.mode = 'inline';
        setup_ajax_csrf_token('{{ csrf_token }}'); 
        setup_edit_tag_setter_urls(
            [{
                'tag_id' : '#new-rule-name-edit',
                'setter' : "{% url 'set_rel_name' Type='DiagramRule' %}",
                'enable_ids' : ['#create-rule-button'],
            }]);
    </script>		
{% endblock %}

{% block content %}
    <div class="container-fluid">
            <div class="row center-content">
                <div class="col-md-10">
                    <div class="page-header">
                        <h1>Create a New Rule</h1>
                    </div>            
                    <h3>
                        <strong class="text-muted">
                            Rule Name:
                        </strong>
                    </h3>
                    <h3>
                        <a id="new-rule-name-edit" data-type="text" href="#"  
                            data-title="New Rule Name" style="border:none">
                        </a>     
                    </h3>
                    <a id="create-rule-button" class="btn btn-success invisible" 
                        href="{% url 'rule_editor' %}">
                        Create
                    </a>
                </div>
            </div>
        </div>
    </div>    
{% endblock %}