{% extends 'base_generic.html' %}

{% block tagline %}
	<div class="col-md-6">
		<div class="page-header">
			<h1>
				<strong>Rule Editor:</strong>
				<a id="rule-title-edit" data-type="text" 
					data-pk="1" href="#" data-url="{{ url('set_model_name', Model='Rule') }}", 
					data-title="Rule Name" style="border:none">
					{{ rule_title }}
				</a>
			</h1>
		</div>
	</div>
{% endblock %}

{% block add_scripts %}	
<script type="text/javascript">
	$.fn.editable.defaults.mode = 'inline';

	$.ajaxSetup({  // BUGFIX.  This took hours to get to work!  And remember the csrf_token line at the top of template
		data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
	});				
	
	// TODO see if we can put this into a function and call on the various tag ids:
	
	$(document).ready(function() {
		$.fn.editable.defaults.mode = 'inline';   
		
		$('#rule-title-edit').editable(
		{	
			url: "{% url 'set_rule_name' %}",
			
			error: function(response, newValue) {
				return response.responseText;
			},
			
			success: function(response, newValue) {
				if(!response.success) 
					return response.error_msg;
			}
		});			
	});		
	
			$.fn.editable.defaults.mode = 'inline';
		setup_ajax_csrf_token('{{ csrf_token }}'); 
		setup_edit_tag_setter_urls(
			[{
				'tag_id' : '#new-rule-name-edit',
				'setter' : "{{ url('set_model_name', Model='DiagramRule') }}",
				'enable_ids' : ['#create-rule-button'],
			}]);
	
</script>		
{% endblock %}	

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">		
			<div class="row">
				<div class="col-md-10">
					<div class="jumbotron card card-block" style="padding:0">
						<iframe sandbox="allow-same-origin allow-scripts allow-popups allow-forms"
							src="{{ url('create_new_diagram')}}?=full_page={{ full_page }}"
							style="border: 0; width:100%; height:600px;"></iframe>
					</div>
				</div>
				<div class="col-md-2">
					<div class="dropdown">
						 
						<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
							Commutes
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							 <a class="dropdown-item disabled" href="#">Action</a> 
							 <a class="dropdown-item" href="#">Another action</a> 
							 <a class="dropdown-item" href="#">Something else here</a>
						</div>
					</div>
				</div>
			</div>
									
			<div class="row">
				<div class="col-md-10">
					<div class="jumbotron card card-block" style="padding:0">
						<iframe sandbox="allow-same-origin allow-scripts allow-popups allow-forms"
							src="{{ url('create_new_diagram') }}?full_page={{ full_page }}"
							style="border: 0; width:100%; height:600px;"></iframe>
					</div>
				</div>					
				<div class="col-md-2">
					<div class="dropdown">
						 
						<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
							Commutes
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							 <a class="dropdown-item disabled" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
						</div>
					</div>
					<div class="dropdown">
						 
						<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
							PromptUser
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							 <a class="dropdown-item disabled" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
						</div>
					</div> 
					<button type="button" class="btn btn-success">
						StartOutWithCopyOfKey
					</button>
				</div>
			</div>	
		</div>
	</div>
</div>
{% endblock %}
