<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ol>
                {% for diagram in diagrams %}
                <li class="list-item">
                    <div class="media">
                        <iframe sandbox="allow-same-origin allow-scripts allow-popups allow-forms"
                                src="{% url 'diagram_viewer' diagram.uid %}"
                                style="border: 0; width:100%; height:300px;"></iframe>
                        <div class="media-body">
                            <h5 class="mt-0">
                                {{ diagram.name }}
                            </h5> 
                            <p>
                                {% if diagram.checked_out_by == user.username %}
                                <a href="{% url 'diagram_editor' diagram.uid %}" class="btn btn-success" type="button">
                                    Edit
                                </a>
                                {% else %}
                                    Diagram is locked for editing by {{ user.username }}.
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ol>
            <nav>
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#">Previous</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">4</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">5</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>