{% load static %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ol>
                {% for diagram in diagrams %}
                <li class="list-item">
                    <h5 class="mt-0">
                        {{ diagram.name }}
                    </h5> 
                    {% if diagram.checked_out_by == user.username %}
                        <a href="{% url 'diagram_editor' diagram.uid %}" class="btn btn-success" type="button">
                            Edit
                        </a>
                        <a href="{% url 'close_diagram_editor' diagram.uid %}" class="btn btn-primary" type="button">
                            Close
                        </a>
                    {% else %}
                        <p>Diagram is locked for editing by {{ user.username }}.</p>
                    {% endif %}
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>