{% extends 'base_generic.html' %}

{% block add_header_buttons %}
    <a href="{% url 'home' %}" class="btn btn-primary btn-header" type="button">
        Home
    </a>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container-fluid" style="margin-top:1%">
    <div class="row center-content">
        <h1>{{ user.username }}'s Page</h1>
    </div>
    <div class="row center-content">
        <div class="col-md-10">
            <a href="{% url 'open_diagrams' %}" class="btn btn-primary" type="button">Open Diagrams</a>              
            <a href="{% url 'create_new_diagram' %}" class="btn btn-success" type="button">Create Diagram</a>
        </div>
    </div>                    
</div>
{% endif %}
{% endblock %}
