<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
    {% block title %}<title>Quiver Database</title>{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  
  {% endblock %}
  {% block add_to_head %}
  <br>
  {% endblock %}
</head>


  <div class="container">
    <h2>Simple Collapsible</h2>
    <p>Click on the button to toggle between showing and hiding content.</p>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Simple collapsible</button>
    <div id="demo" class="collapse">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
  </div>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div "navbar-collapse" id="myNavbar">
        <a class="navbar-brand" href="https://github.com/enjoysmath/QuiverDatabase" target="_blank">
          <img style="width:300px; height:200px" src="{% static 'quiver.svg' %}" class="logo">
        </a>
        <a>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">
            <span class="glyphicon glyphicon-log-in"></span>
            Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
 
  <div class="container-fluid text-center">    
    <div class="row content">
      {% block sidebar_left %}
          <a class="navbar-brand" href="https://github.com/enjoysmath/QuiverDatabase" target="_blank">
          <img style="width:300px; height:200px" src="{% static 'quiver.svg' %}" class="logo">
        </a>
        <div class="col-sm-2 sidenav">
          <p><a href="#">Link</a></p>
          <p><a href="#">Link</a></p>
          <p><a href="#">Link</a></p>
        </div>
      {% endblock %}
      <div class="col-sm-8 text-left"> 
        {% block content %}{% endblock %}
      </div>
      {% block sidebar_right %}
        <div class="col-sm-2 sidenav">
          <div class="well">
            <p>ADS</p>
          </div>
          <div class="well">
            <p>ADS</p>
          </div>
        </div>
      {% endblock %}
    </div>
  </div>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>

</body>
</html>

  