{% extends 'base_generic.html' %}

{% load static %}

{% block metas %}
    <meta charset="utf-8">
    <!-- Prevent zooming on mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Metadata for Open Graph -->
    <meta name="description" content="A modern commutative diagram editor with support for tikz-cd.">
    <meta property="og:title" content="quiver">
    <meta property="og:url" content="https://varkor.github.io/quiver">
    <meta property="og:description" content="A modern commutative diagram editor with support for tikz-cd.">
    <meta property="og:image" content="{% static 'img/icon.png' %}">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_GB">
    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

    <!-- Preload images that we want to display immediately. -->
{% block add_resources %}
    <link rel="icon" href="{% static 'icons/icon.png' %}">
    <link rel="preload" href="{% static 'img/quiver-blue.svg' %}" as="image">
    <link rel="preload" href="{% static 'icons/about.svg' %}" as="image">
    <link rel="preload" href="{% static 'icons/centre-view.svg' %}" as="image">
    <link rel="preload" href="{% static 'icons/delete.svg' %}" as="image">
    <link rel="preload" href="{% static 'icons/deselect-all.svg' %}" as="image">
    <link rel="preload" href="{% static 'icons/hide-grid.svg' %}" as="image">
    <link rel="preload" href="{% static 'icons/redo.svg' %}" as="image">
    <link rel="preload" href="{% static 'icons/reset-zoom.svg' %}" as="image">
    <link rel="preload" href="{% static 'icons/save.svg' %}" as="image">
    <link rel="preload" href="{% static 'icons/select-all.svg' %}" as="image">
    <link rel="preload" href="{% static 'icons/shortcuts.svg' %}" as="image">
    <link rel="preload" href="{% static 'icons/show-hints.svg' %}" as="image">
    <link rel="preload" href="{% static 'icons/show-queue.svg' %}" as="image">
    <link rel="preload" href="{% static 'icons/undo.svg' %}" as="image">
    <link rel="preload" href="{% static 'icons/zoom-in.svg' %}" as="image">
    <link rel="preload" href="{% static 'icons/zoom-out.svg' %}" as="image">
    <!-- Style sheets and scrips -->
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/main.css' %}">
{% endblock %}

{% block add_scripts %}
    <script type="text/javascript" src="{% static 'js/javascript_tools.js' %}"></script>
    <script type="text/javascript">
    
    $.fn.editable.defaults.mode = 'inline';
    setup_ajax_csrf_token('{{ csrf_token }}'); 
    
    setup_edit_tag_setter_urls(
        [{ 
            'tag_id' : '#category-name-edit',
            'setter' : "{% url 'set_model_name' Model='Category' %}",
            'pk' : "{{ category_id }}",
            'initial' : "{{ category_name }}",
            'enable_ids' : [],
        },
        {
            'tag_id' : '#diagram-name-edit',
            'setter' : "{% url 'set_model_name' Model='Diagram' %}",
            'pk' : "{{ diagram_id }}",
            'initial' : "{{ diagram_name }}",
            'enable_ids' : [],
        }]); 
        
    function save_diagram_to_database(json_str) 
    {
        const diagram_id = "{{ diagram_id }}";
               
        fetch("{% url 'save_diagram' diagram_id %}", 
        {
            headers: {
            'X-CSRFToken': "{{ csrf_token }}",
            "x-Requested-With": "XMLHttpRequest",
            "Content-Type": "application/json; charset=utf-8",
        },
        method: 'POST',
        body: json_str,
        mode: 'same-origin',
        })
        .then(response => response.json())
        .then(data => {
            alert("Success: " + data);
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }
                     
    </script>
    <script type="text/javascript" src="{% static 'js/ds.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dom.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/quiver.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bezier.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/arrow.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ui.js' %}"></script>
{% endblock %}

{% block tagline %} {% endblock %}

{% block header %} 
{% include 'logo.html' %}
{% with style="position:absolute; right:1%; top:1%; z-index:1" %}
    {% include 'login_out_buttons.html' %}
{% endwith %}
{% endblock %}


{% block body_scripts %}
    <noscript>JavaScript must be enabled to use quiver.</noscript>
    <script>
        // If we are loading a diagram, display a loading screen to prevent a flash of empty canvas.
        // We do this in a `<script>` tag here to make sure that it loads immediately.
        const query_data = query_parameters();
        if (query_data.has("q")) {
            // Prevent keyboard events effected during loading from taking place after loading
            // has completed.
            document.addEventListener("keydown", cancel);
            document.addEventListener("keyup", cancel);

            const loading_screen = new DOM.Div({ class: "loading-screen" })
                .add(new DOM.Element("img", { src: "{% static 'quiver-blue.svg' %}", class: "logo", as: "image"}))
                .add(new DOM.Element("span").add("Loading diagram..."))
                // Prevent pointer events effected during loading from taking place after loading
                // has completed.
                .listen(pointer_event("down"), cancel)
                .listen(pointer_event("move"), cancel)
                .listen(pointer_event("up"), cancel)
                .listen("wheel", cancel, { passive: true });
            document.body.appendChild(loading_screen.element);
        }

    </script>
{% endblock %}

{% block content %}
{% endblock %}

