{% extends 'base_generic.html' %}

{% load static %}

{% block metas %}
    <meta charset="utf-8">
    <!-- Prevent zooming on mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Metadata for Open Graph -->
    <meta name="description" content="A modern commutative diagram editor with support for tikz-cd.">
    <meta property="og:title" content="quiver">
    <meta property="og:url" content="https://varkor.github.io/quiver">
    <meta property="og:description" content="A modern commutative diagram editor with support for tikz-cd.">
    <meta property="og:image" content="{% static 'img/icon.png' %}">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_GB">
    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

    <!-- Preload images that we want to display immediately. -->
{% block add_resources %}
    <!-- Style sheets and scrips -->
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/main.css' %}">
{% endblock %}

{% block add_scripts %}
    <script type="text/javascript" src="{% static 'js/javascript_tools.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ds.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dom.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/quiver.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bezier.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/arrow.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ui_viewonly.js' %}"></script>
{% endblock %}

{% block tagline %} {% endblock %}

{% block body_scripts %}
    <noscript>JavaScript must be enabled to use quiver.</noscript>
    <script>
        // If we are loading a diagram, display a loading screen to prevent a flash of empty canvas.
        // We do this in a `<script>` tag here to make sure that it loads immediately.
        const query_data = query_parameters();
        if (query_data.has("q")) {
            // Prevent keyboard events effected during loading from taking place after loading
            // has completed.
            document.addEventListener("keydown", cancel);
            document.addEventListener("keyup", cancel);

            const loading_screen = new DOM.Div({ class: "loading-screen" })
                .add(new DOM.Element("img", { src: "{% static 'quiver-blue.svg' %}", class: "logo", as: "image"}))
                .add(new DOM.Element("span").add("Loading diagram..."))
                // Prevent pointer events effected during loading from taking place after loading
                // has completed.
                .listen(pointer_event("down"), cancel)
                .listen(pointer_event("move"), cancel)
                .listen(pointer_event("up"), cancel)
                .listen("wheel", cancel, { passive: true });
            document.body.appendChild(loading_screen.element);
        }

    </script>
{% endblock %}

{% block content %}
{% endblock %}

