{% extends 'base_generic.html' %}

{% load static %}

{% block metas %}
    <meta charset="utf-8">
    <!-- Prevent zooming on mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Metadata for Open Graph -->
    <meta name="description" content="A modern commutative diagram editor with support for tikz-cd.">
    <meta property="og:title" content="quiver">
    <meta property="og:url" content="https://varkor.github.io/quiver">
    <meta property="og:description" content="A modern commutative diagram editor with support for tikz-cd.">
    <meta property="og:image" content="{% static 'img/icon.png' %}">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_GB">
    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

    <!-- Preload images that we want to display immediately. -->
{% block add_resources %}
    <link rel="icon" href="{% static 'icons/icon.png' %}">
    <link rel="preload" href="{% static 'img/quiver-blue.svg' %}" as="image">
    <link rel="preload" href="{% static 'icons/about.svg' %}" as="image">
    <link rel="preload" href="{% static 'icons/centre-view.svg' %}" as="image">
    <link rel="preload" href="{% static 'icons/delete.svg' %}" as="image">
    <link rel="preload" href="{% static 'icons/deselect-all.svg' %}" as="image">
    <link rel="preload" href="{% static 'icons/show-grid.svg' %}" as="image">
    <link rel="preload" href="{% static 'icons/redo.svg' %}" as="image">
    <link rel="preload" href="{% static 'icons/reset-zoom.svg' %}" as="image">
    <link rel="preload" href="{% static 'icons/save.svg' %}" as="image">
    <link rel="preload" href="{% static 'icons/select-all.svg' %}" as="image">
    <link rel="preload" href="{% static 'icons/shortcuts.svg' %}" as="image">
    <link rel="preload" href="{% static 'icons/show-hints.svg' %}" as="image">
    <link rel="preload" href="{% static 'icons/show-queue.svg' %}" as="image">
    <link rel="preload" href="{% static 'icons/undo.svg' %}" as="image">
    <link rel="preload" href="{% static 'icons/zoom-in.svg' %}" as="image">
    <link rel="preload" href="{% static 'icons/zoom-out.svg' %}" as="image">
    <!-- Style sheets and scrips -->
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/main.css' %}">
{% endblock %}

{% block add_scripts %}
    <script type="text/javascript" src="{% static 'js/javascript_tools.js' %}"></script>
    </script> 
    <script type="text/javascript">
    
    $.fn.editable.defaults.mode = 'inline';
    setup_ajax_csrf_token('{{ csrf_token }}'); 
    
    {% if view_only == 'yes' %}
        window.quiver_edit_mode = false;
    {% else %}
        window.quiver_edit_mode = true;
    {% endif %}
       
    window.rule_search_url = "{% url 'rule_search' diagram_id %}";
    window.commutes_text = "{{ commutes_text }}";
    window.csrf_token = "{{ csrf_token }}"
    
    if (window.quiver_edit_mode){
        setup_edit_tag_setter_urls(
            [{ 
                'tag_id' : '#category-name-edit',
                'setter' : "{% url 'set_diagram_category' %}",
                'pk' : "{{ diagram_id }}",
                'initial' : "{{ category_name }}",
                'enable_ids' : [],
            },
            {
                'tag_id' : '#diagram-name-edit',
                'setter' : "{% url 'set_model_string' Model='Diagram' field='name' %}",
                'pk' : "{{ diagram_id }}",
                'initial' : "{{ diagram_name }}",
                'enable_ids' : [],
            }]); 
            
        function save_diagram_to_database(json_str) 
        {      
            // I couldn't get post_string_to_url to run without CSRF failure here.
            
            fetch("{% url 'save_diagram' diagram_id %}", 
            {
                headers: {
                'X-CSRFToken': "{{ csrf_token }}",
                "x-Requested-With": "XMLHttpRequest",
                "Content-Type": "application/json; charset=utf-8",
            },
            method: 'POST',
            body: json_str,
            mode: 'same-origin',
            })
            .then(response => response.json())
            .then(data => {
                alert("Success: " + JSON.stringify(data));
            })
            .catch(error => {
                alert(error);
                console.error('Error: ' + error);
            });
        }
        
        function close_diagram()
        {
            window.location.href = "{% url 'close_diagram_editor' diagram_id %}";
        }
        
        function toggle_diagram_commutes(commutes_text) 
        {
            post_string_to_url(
                {'pk': "{{ diagram_id }}", "value" : commutes_text},
                "{% url 'set_model_string' Model='Diagram' field='commutes' %}");
        }

    }
    
    $(document).ready(function()
    {
        fetch("{% url 'load_diagram' diagram_id %}", 
        {
            headers: {
                'Accept': 'text/plain; charset=utf8',
                'X-Requested-With': 'XMLHttpRequest',   //Necessary to work with request.is_ajax()
            }
        })
        .then(response => {
            return response.text(); 
        })
        .then(text => {
            alert(text);
            window.ui.load_json_str_from_database(text);
        });
        
    });
                     
    </script>
    <script type="text/javascript" src="{% static 'js/ds.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dom.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/quiver.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bezier.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/arrow.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ui.js' %}"></script>
{% endblock %}

{% block tagline %} {% endblock %}

{% block header %} 
    {% if logo %}
        <div style="position:absolute; left:1%; top:1%; z-index:1">
            {% include 'logo.html' %}
        </div>
    {% endif %}
{% endblock %}


{% block body_scripts %}
    <noscript>JavaScript must be enabled to use quiver.</noscript>
    <script>
        // If we are loading a diagram, display a loading screen to prevent a flash of empty canvas.
        // We do this in a `<script>` tag here to make sure that it loads immediately.
        const query_data = query_parameters();
        if (query_data.has("q")) {
            // Prevent keyboard events effected during loading from taking place after loading
            // has completed.
            document.addEventListener("keydown", cancel);
            document.addEventListener("keyup", cancel);

            const loading_screen = new DOM.Div({ class: "loading-screen" })
                .add(new DOM.Element("img", { src: "{% static 'quiver-blue.svg' %}", class: "logo", as: "image"}))
                .add(new DOM.Element("span").add("Loading diagram..."))
                // Prevent pointer events effected during loading from taking place after loading
                // has completed.
                .listen(pointer_event("down"), cancel)
                .listen(pointer_event("move"), cancel)
                .listen(pointer_event("up"), cancel)
                .listen("wheel", cancel, { passive: true });
            document.body.appendChild(loading_screen.element);
        }

    </script>
{% endblock %}

{% block content %}
{% endblock %}

