{% extends "base_generic.html" %}

{% block content %}   
    <div class="container-fluid">
    <div class="row" style="align-items:center; justify-content:space-around; display:flex">
        <div class="col-md-4">
            {% if user.is_authenticated %}
                <p>Welcome to <strong>Quiver Database</strong>, a website developed by 
                    <em>Avi and Dan</em>!
                </p>
                <a href="{% url 'create_new_rule' %}" class="btn btn-success" type="button">
                    Create Rule
                </a>
                <a href="{% url 'create_new_diagram' %}" class="btn btn-success" type="button">
                    Create Diagram
                </a>
            {% endif %}             
        </div>
    </div>
    </div>
    
{% endblock %}