
<div style="{{ style }}">
{% if user.is_authenticated %}
    <a href="{{ url('logout') }}?next={{ url('home') }}?full_page={{ full_page }}" 
        class="btn btn-primary pull-right" type="button"
        style="border-radius:5px">
        Sign out
    </a>
    {% elif is_login_template == False %}
    <a href="{{ url('login') }}?next={{ url('home') }}?full_page={{ full_page }}" 
        class="btn btn-success pull-right" type="button"
        style="border-radius:5px">
        Sign in
    </a>
{% endif %}
</div>